/* reset css */
/* https://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 99%;
    font: 12px;
    vertical-align: baseline;
    
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* style css */
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", 'Arial', sans-serif;
    background: #f2f2f2;
}

a {
    color: inherit;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    font-size: 16px;
}
/* ---HEADER PAGINAS--- */
.header-class {
  /* background: #0dad83; */
  height: 60px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 2rem;
  padding: 0 15px;
  /* margin-bottom: 25px; */
  justify-content: space-between;    
}
.title {
    font-size: 2.2rem;
    color: #625e5f;
    /* margin-bottom: 24px; */
    font-family: 'Anton', sans-serif;
    align-self: flex-start;

    position: relative;
    padding: 1.5rem;    
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
/* ---botones  plantillas --- */

.btn-normal{
	background-color:dimgray; 
	border-radius: 14px;
	font-size: 1.5rem;
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	text-decoration: none;
	margin: 5px 10px;
    display: inline-block;
}

  .btn-normal:hover{
	background-color:#fa3636; 
    color: white;
  }
  
  .btn-normal:focus {
	box-shadow: none;
  }
/* ---DIV ESTADISTICAS --- */

/* .btn-data{
	background-color:rgb(36, 255, 47); 
	border-radius: 14px;
	font-size: 1.5rem;
	outline: none;
	border: none;
	align-items: center;
	padding: 5px;
	text-decoration: none;
	margin: 15px 10px;
    display: inline-block;
   
}
.btn-data .title-card{
    color: black;
    
}
.btn-data .value{
    color: black;
    text-align: center;
    font-size: 2rem;
}
.btn-data .fas{
    color: black;
    text-align: center;
    font-size: 2rem;
}
.btn-data blue{
    background-color: blue;
}

  .btn-normal:hover{
	background-color:#fa3636; 
    color:rgb(38, 38, 39);
    
  }
  
  .btn-normal:focus {
	box-shadow: none;
  }
  .title-card {
    font-size: 2.2rem;
    color: rgb(255, 16, 16);
    margin-bottom: 24px;
    font-family: 'Anton', sans-serif;
    align-self: flex-start;
}
.btn-normal2{
    background-color:rgb(232, 255, 28);
} */

/* ---botones  acción --- */
/* .btn__update{
    background-color: #46aafc;
    color: white;
    border: none;
  } */
  /* .btn__edit{
    height: 40px;
    width: 40px;
    background-color: rgb(210, 210, 219);
    font-size: 1.5rem;
    border-radius: 9px;
    border: none;
  }
.btn__edit:hover{
    background-color: #fa3636;
    color:white;
}
  .btn__delete{
    height: 40px;
    width: 40px;
    background-color: rgb(210, 210, 219);
    font-size: 1.5rem;
    border-radius: 9px;
    border: none;
  }
.btn__delete:hover{
    background-color: #fa3636;  
    color:white;
} */
/* Lista usuarios */
.privileges h2{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #555;
}
.text-search{
    border-radius: 13px;
    text-align: center;
    height: 30px;
    width: 250px;
    margin-bottom: 10px
}


.btn-general{
    background-color: #a36681;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: var(--black);
    font-size: 1.5rem;
    outline: none;
    border: none;
    border-radius: 19px;
    color:white;
    padding: 0.5rem 3rem;
    align-self: flex-end;
    margin-top:5px;

}
.btn-general:hover{
    background-color:  #f99c52;
    color:white;
}
.btn-search{
    height: 33px;
    width: 33px;
    background-color: rgb(210, 210, 219);
    font-size: 1.5rem;
    border-radius: 8px; 
    /* border-radius: 9px; */
    color: black;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.btn-search:hover{
    background-color:  #f99c52;
    color:white;
}
.btn-delete{
    height: 33px;
    width: 33px;
    background-color: rgb(210, 210, 219);
    font-size: 1.5rem;
    border-radius: 8px; 
    /* border-radius: 9px; */
    color: black;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.btn-delete:hover{
    background-color:  #f74747;
    color:white;
}
.btn-delete{
    height: 33px;
    width: 33px;
    background-color: rgb(210, 210, 219);
    font-size: 1.5rem;
    border-radius: 8px; 
    /* border-radius: 9px; */
    color: black;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.btn-delete:hover{
    background-color:  #f74747;
    color:white;
}
/* .btn-general i{
    display: inline-block;
    margin-right: 10px;
} */
.btn-edit{
    height: 33px;
    width: 33px;
    font-size: 1.2rem;
    border-radius: 8px; 
    color: black;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    background-color: rgb(210, 210, 219);
}
.btn-edit:hover{
    background-color:  #03a9f4;
    color: white;
}

.btn-menu{
    height: 33px;
    width: auto;
    background-color: rgb(210, 210, 219);
    font-size: 1.2rem;
    border-radius: 10px; 
    /* border-radius: 9px; */
    color: black;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 15px;
}

.btn-menu:hover{
    background-color:#f77f1ec4;
    color:white;
}
.btn-menu span{
    margin-left: 5px;
}

.barra__buscador .text-search{
    margin: 0;
    text-align: left;
    padding: 0 10px;
}

.text-fecha{
    border-radius: 14px;
    text-align: center;
    height: 40px;
    width: 200px;
}

.formulario{
    display: flex;
    width: 100%;
    overflow: hidden;
}

form .input__text{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #848688;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
    padding: 10px 15px;
    max-width: 30%;
    margin-right: 10px;
    outline: medium none;
}


form .input__text:focus{
    border: 1px solid #1b743c;
}
form .form-group{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
}

form .form-group .input__text{
    max-width: 45% !important;
}




/* divs diseño */
.container-report{
    /* padding: 0 1.5rem 1.5rem 1.5rem; */
}

.info-stats4 {
    background: #ffffff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #e0e3e8;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
}

.info-stats4 .info-icon{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px #e5e9ec;
    border-bottom: 1px solid #eeeeee;
    color: white;
    /* font-size: 30px; */
}

.info-stats4 .info-icon {
    background: #9f57f2;
}

.info-stats4 .info-icon-color1 {
    background: #19e906;
}

.info-stats4 .info-icon-color2 {
    background: #03a9f4;    
}

.info-stats4 .info-icon-color3 {
    background: #f77f1ec4;
}

.info-stats4 .info-icon-color4{
    background: #9f57f2;    
}

.col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.row-gutters {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -8px;
    margin-left: -8px;
} 
/* data-table */
.payment-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .payment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  table {
    width: 100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 25px;
  }
  .thead-primary thead {
    background-color: #f99c52;
    color: white;
    
  }#ff0018
  
  table tr {
    border: 1px solid #ddd;
    padding: 5px;
  }
  
  table td {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem;
    vertical-align: top;
    border-top: 1px solid #f99c52;
  }
  
  table th {
    text-transform: uppercase;
    font-size:  1.5rem;;
    letter-spacing: 1px;
  }
  
  @media screen and (max-width: 600px) {
  
    table {
      border: 0;
    }
  
    table thead {
      display: none;
    }
  
    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
  
    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
  
    }
  
    table td:last-child {
      border-bottom: 0;
    }
  
    table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
   
} 

    /* FORMULARIO  */
    .container.profile-container {
        padding: 0;
        max-width: 100%;
      }
    
      .profile-form{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    
      .profile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
      }
    
      .input-container-profile {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 0 10px;
      }
    
      .input-field-profile {
        max-width: 380px;
        width: 100%;
        background-color: #f0f0f0;
        /* margin: 10px 0; */
        border-radius: 5px;
        padding: 9px 9px;
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 8px;
      }
      
      .input-field-profile i {
        text-align: center;
        line-height: 24px;
        color: #bd6b84;
        transition: 0.5s;
        font-size: 1.1rem;
        padding: 0 4px;
      }
      
    .input-field-profile input {
        width: 50%;
        background: none;
        outline: none;
        border: none;
        line-height: 1;
        font-weight: 600;
        font-size: 12px;
        color: #333;
        flex: 1;
      }
      
      .btn-action-save {
        background-color: #a4a4ab;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: var(--black);
        font-size: 1.5rem;
        outline: none;
        border: none;
        border-radius: 19px;
        color:white;
        padding: 0.5rem 3rem;
        align-self: flex-end;
        margin-top:5px;
        margin-bottom: 10px;
      }

      .btn-action-save:hover{
        background-color: #03a9f4;
        color: white
      }

      .btn-action-delete {
        background-color: #a4a4ab;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: var(--black);
        font-size: 1.5rem;
        outline: none;
        border: none;
        border-radius: 19px;
        color:white;
        padding: 0.5rem 3rem;
        align-self: flex-end;
        margin-top:5px;
        margin-bottom: 10px;
      }

      .btn-action-delete:hover{
        background-color: #f74747;
        color: white
      }

      .btn-kohaku-profile {
        background-color: #a36681;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        color: var(--black);
        font-size: 1.5rem;
        outline: none;
        border: none;
        border-radius: 19px;
        color:white;
        padding: 0.5rem 3rem;
        align-self: flex-end;
        margin-top:5px;
        margin-bottom: 10px;
      }
      
      .btn-kohaku-profile:hover{
        background-color: #365c7d;
        color: white
      }
      
      .btn-kohaku-profile:focus {
        box-shadow: none;
      }
    
      .title {
        font-size: 2.2rem;
        color: #514f4f;
        margin-bottom: 24px;
        font-family: 'Anton', sans-serif;
        align-self: flex-start;    
      }
      .title-form {
        font-size: 2.2rem;
        color: #514f4f;
        margin-bottom: 24px;
        font-family: 'Anton', sans-serif;
        align-self: flex-start;    
      }
      
    .container-form {
        display: flex;
        align-items: center;
    }
    .form-left {
        width: 35%;
    }
    .form-right {
        flex: 1;
        padding: 0 10%;
    }
    .label-form{
        font-size: 12px;
    }

    .img-form{
        width: 100%;
    }

    .btn-action{

    }

.welcome-area {
  -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, 0.05);
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
} 
.welcome-img {
  text-align: center;
}
.welcome-content h1 {
  font-size: 40px;
  font-weight: 700;
}
.welcome-content p {
  color: #646262;
  font-size: 18px;
}
.welcome-container {
  flex-wrap: nowrap;
  overflow: hidden;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.col-lg-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.mb-2, .my-2 {
  margin-bottom: .5rem !important;
}
.p-0 {
  padding: 0 !important;
}
/* progress */
.browser-statistics-box .box:first-child {
  margin-top: 7px;
}

.browser-statistics-box .box {
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;
}
.browser-statistics-box .box .img {
    background-color: #f3f3f3;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    height: 40px;
    line-height: 37px;
}
.browser-statistics-box .box .content {
  margin-left: 15px;
  width: 100%;
}
.browser-statistics-box .box .content h5 {
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 600;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.browser-statistics-box .box .content .bar-inner {
  position: relative;
  width: 100%;
  border-bottom: 3px solid #d1d1d1;
  border-radius: 5px;
}
.browser-statistics-box .box .content .bar-inner .bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 3px;
  background: #e1000a;
  -webkit-transition: all 2000ms ease;
  transition: all 2000ms ease;
  -webkit-box-shadow: 0 2px 6px 0 rgba(255, 91, 92, 0.6);
  box-shadow: 0 2px 6px 0 rgba(255, 91, 92, 0.6);
  border-radius: 5px;
}
.browser-statistics-box .box .content .count-box {
  margin-left: 15px;
  color: #2a2a2a;
}